* {
    padding: 0;
    margin:0;
}

.own-navbar-text {
    font-size: 0.8rem;
    margin: 0;
}

.own-subtitle {
    font-size: 0.7rem;
    padding-bottom: 1rem;
    line-height: 0.7rem;
}

.own-title, .own-title-contact {
    font-size: 4.5rem;
    letter-spacing: -0.4rem;
    line-height: 3rem;
    padding-bottom: 0.7rem;    
}

.own-title {
    padding-bottom: 1.3rem;  
}

.own-nav-list, .own-link-footer {
    background-color: rgb(234, 226, 215);
}

.own-caption {
    margin-top: 0.3rem;
}

.own-button {
    color: var(--bs-black);
    background: rgb(234, 226, 215);
    border: 0;
} 

.own-button:hover{
    background-color: rgb(198, 183, 169);
}

.btn-primary {
    --bs-btn-active-bg: rgb(198, 183, 169);
}

.own-text-link:hover {
    font-weight: 100;
}

.own-icon-hover:hover {
    transform: translate(0.5rem);
}

.accordion-item {
--bs-accordion-btn-bg: rgb(243, 240, 236);
--bs-accordion-active-bg: rgb(234, 226, 215);
--bs-accordion-btn-focus-border-color: none;
--bs-accordion-btn-focus-box-shadow: none;
}
