* {
    padding: 0;
    margin:0;
}

.container {
    width: 100vw;
}

.own-navbar-text {
    font-size: 0.8rem;
}

.empty-row {
    height: 4rem;
    margin:0;
    padding: 0;
}

.empty-row-2 {
    height: 1.5rem;
}

.own-subtitle {
    font-size: 0.7rem;
    padding-bottom: 1rem;
    line-height: 0.7rem;
}

.own-title, .own-title-contact {
    font-size: 4.5rem;
    letter-spacing: -0.4rem;
    line-height: 3rem;
    padding-bottom: 0.7rem;    
}

.own-title {
    padding-bottom: 1.3rem;  
}

.own-navbar-text {
    margin: 0;
}

.own-nav-list, .own-link-footer {
    background-color: rgb(234, 226, 215);
}

.own-caption {
    margin-top: 0.3rem;
}


.btn-primary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: rgb(234, 226, 215);
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: rgb(198, 183, 169);
    --bs-btn-active-bg: rgb(198, 183, 169);
}

.own-text-link:hover {
    font-weight: 100;
}

.own-icon-hover:hover {
    transform: translate(0.5rem);
}

.accordion-item {

--bs-accordion-btn-bg: rgb(243, 240, 236);
--bs-accordion-active-bg: rgb(234, 226, 215);
--bs-accordion-btn-focus-border-color: none;
--bs-accordion-btn-focus-box-shadow: none;
}